# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
rune

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out 
*.out.html
coverage.html
*coverage.html

# Token files
*.token
rune-test

# Dependency directories (remove the comment below to include it)
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.project/
.cursor/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application-specific files
*.log
*.env
.env
config.local.yaml 